---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{% if page.header-url %}{{ page.header-url }}{% elsif page.header-img %}{{ site.baseurl }}/{{ page.header-img }}{% else %}{{ site.header-url }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}

            <!-- Unsplash credits -->
            {% if page.photo-author %}
                <br>
                <hr>
                <small><i class="fa fa-camera" aria-hidden="true"></i> <em>Header photo by <a href="https://unsplash.com/@{{ page.photo-author-profile }}">{{ page.photo-author }}</a>/ <a href="https://unsplash.com">Unsplash</a></em></small>
            {% endif %}
		</div>
	</div>
</div>

<hr>
