---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{% if page.header-url %}{{ page.header-url }}{% elsif page.header-img %}{{ site.baseurl }}/{{ page.header-img }}{% else %}{{ site.baseurl }}/{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">{% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} | {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				{{ content }}

                <!-- Unsplash credits -->
                {% if page.photo-author %}
                    <span><em>Header photo by <a href="https://unsplash.com/@{{ page.photo-author-profile }}">{{ page.photo-author }}</a>/ <a href="https://unsplash.com">Unsplash</a></em></span>
                {% endif %}
                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</article>


<!-- Social sharing buttons -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <br>
            <a class="twitter-share-button"
              href="https://twitter.com/intent/tweet?text={{ page.title }}%20%7C%20Dotkom?url={{ site.url }}{{ page.url }}"
              data-size="large">
            Tweet</a>
            <div style="vertical-align:top; margin-top: 0px !important;" class="fb-share-button" data-href="{{ site.url }}{{ page.url }}" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}%2F&amp;src=sdkpreparse">Share</a></div>
        </div>
    </div>
</div>

{% if page.comments and jekyll.environment == 'production' %}
    {% include disqus.html %}
{% else %}
    <div class="container">    
        <div class="row">
            <div class="col-xs-12">
                <h4>Disqus placeholder</h4>
                <div>You are in localhost preview, Disqus only loads in production.</div>            
            </div>
        </div>
    </div>
{% endif %}
<hr>