---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{% if page.header-url %}{{ page.header-url }}{% elsif page.header-img %}{{ site.baseurl }}/{{ page.header-img }}{% else %}{{ site.header-url }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">{% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} | {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				{{ content }}

                <!-- Social shares -->
                <div class="social-share-buttons">
                    <ul>
                        <li>
                            <a href="https://twitter.com/intent/tweet?text={{ page.title }}%20%7C%20Dotkom&url={{ site.url }}{{ page.url }}" class="tweet-button social-button" target='_blank' data-network="Twitter">
                                <i class="fa fa-twitter" aria-hidden="true"></i> Tweet
                            </a>
                        </li>
                        <li>
                            <a href class="fb-button social-button" data-network="Facebook" onclick="FB.ui({
                                    method: 'share',
                                    href: '{{ site.url }}{{ page.url }}'
                                }, function(response){});return false;">
                                <i class="fa fa-facebook-official" aria-hidden="true"></i> Share
                            </a>
                        </li>
                    </ul>
                </div>
                <div style="clear: both;"></div>

                <!-- Unsplash credits -->
                <div>
                    {% if page.photo-author %}
                    <small><i class="fa fa-camera" aria-hidden="true"></i> <em>Header photo by <a href="https://unsplash.com/@{{ page.photo-author-profile }}">{{ page.photo-author }}</a>/ <a href="https://unsplash.com">Unsplash</a></em></small>
                    {% endif %}
                </div>
                <hr>

                <!-- Pager -->
                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</article>

{% if page.comments and jekyll.environment == 'production' %}
    {% include disqus.html %}
{% else %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4>Disqus placeholder</h4>
                <div>You are in localhost preview, Disqus only loads in production.</div>
            </div>
        </div>
    </div>
{% endif %}
<hr>